@import '../../globalStyles/common';

.card.form-reset-password {
    padding: 56px 0 56px 56px;
    background-color: $navy;
    color: $white;

    h4 {
        color: $white;
    }

    .form-group {
        position: relative;

        input {
            background-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: $white;
            color: $white;
            width: 100%;

            &.is-valid {
                border-bottom-color: $success;
            }

            &.is-invalid {
                border-bottom-color: $danger;
            }
        }
    }
}
