@import '../../globalStyles/common';

.home {
    background: url(../../img/logo-mark.png),
        linear-gradient(
            to bottom,
            $white 0%,
            $white 60%,
            $white 60%,
            $light 60%,
            $light 100%
        );
    background-repeat: no-repeat;
    background-position: left bottom;
  
    .hero {
        height: 340px;
        background-color: $gray-100;
        background-image: url(../../img/fusion-home-hero.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

    .content {
        padding-top: 40px;
    }
}

.card.form-reset-password {
    padding: 10px 56px;
    background-color: $navy;
    color: $white;
    width: 75%;

    h3 {
        color: $white;
    }

    .form-group {
        position: relative;

        input {
            background-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: $white;
            color: $white;
            width: 100%;

            &.is-valid {
                border-bottom-color: $success;
            }

            &.is-invalid {
                border-bottom-color: $danger;
            }
        }
    }
}
