@import './globalStyles/common';

.limited-user-banner {
  background-color: $dark;
  margin: 0;
  .col {
    margin-top: auto;
    margin-bottom: auto;
  }

  p {
    margin: 0;
    color: $white;
  }

  strong {
    text-transform: capitalize;
  }
}