@import '../../globalStyles/common';

.form-password-reset-request {
    // padding: 56px 0 56px 56px;
    color: $navy;

    .form-label {
      color: $navy;
      padding-left: 10px; 
    }

    .floating-labels input ~ label {
      color: $navy;
    }

    .form-group {
        position: relative;

        input {
            // background-color: transparent;
            border-color: $primary;
            color: $navy;
            padding-left: 10px;
            width: 100%;

            &.is-valid {
                border-color: $success;
            }

            &.is-invalid {
                border-color: $danger;
            }
        }
    }
}